/bootstrap/compiled.php
/vendor
/bower_components
/node_modules
composer.phar
.env
.DS_Store
Thumbs.db
_ide_helper.php
/.idea
npm-debug.log
npm-debug.log.*
tags
.tags_swap

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
