@import 'flickity/css/flickity';

@tailwind base;

@tailwind components;

@tailwind utilities;

@responsive {
  .h-72 {
    height: 18rem;
  }
}

a {
  @apply text-orange-900;
}
a:hover {
  @apply text-orange-800;
}

.btn {
  @apply py-2 px-4 inline-block;
}
.btn-lg {
  @apply py-4 px-8;
}
.btn-primary {
  @apply bg-orange-900 text-white;
}
.btn-primary:hover {
  @apply bg-orange-800;
}

.btn-success {
  @apply bg-green-500 text-white;
}
.btn-success:hover {
  @apply bg-green-700;
}

.control-label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}
.form-control {
  @apply appearance-none border rounded block w-full py-2 px-3 text-gray-700 leading-tight;
}
.form-control:focus {
  @apply outline-none shadow-outline;
}

.vspace-4 > * + *:not(.hidden) {
  @apply mt-4;
}
.vspace-5 > * + *:not(.hidden) {
  @apply mt-5;
}
.vspace-6 > * + *:not(.hidden) {
  @apply mt-6;
}

.vspace-10 > * + *:not(.hidden) {
  @apply mt-10;
}
.vspace-12 > * + *:not(.hidden) {
  @apply mt-12;
}

.hspace-4 > * + *:not(.hidden) {
  @apply ml-4;
}
.hspace-5 > * + *:not(.hidden) {
  @apply ml-5;
}
.hspace-6 > * + *:not(.hidden) {
  @apply ml-6;
}

.trans {
  transition: all 0.25s;
}
