@import "admin/bootstrap";

@import "admin-lte/dist/css/AdminLTE";
@import "admin-lte/dist/css/skins/skin-red";

@import "admin/post";

@import "dropzone/src/dropzone";

@import "select2/src/scss/core";

@import "shared/product_search";
@import "shared/utils";

.top-buffer {
  margin-top: 15px;
}

.bottom-buffer {
    padding-bottom:15px;
}

.select2 {
  width: 100%!important;
}
body {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
}