@import 'main/variables';
@import "main/bootstrap";
@import 'main/catalogue';
@import 'main/footer';
@import 'main/transitions';

body {
    background-color: #191919;
    margin-top: 50px;
    font-weight: 300;
}
.top-buffer {
    padding-top:20px;
}

.alert-block {
    border: 0;
    border-radius: 0;
    margin:0;
}
.alert a:not(.btn) {
  color: $brand4;
  font-weight: bold;
  &:hover {
    color: $brand5;
  }
}
.alert-warning a {
  color: $brand5;
}

.bg {
    background-color: #fff;
}
.space-deck {
    background-color: #eee;
}

.auth-dropdown {
  @media (max-width: $screen-xs-max) {
  border-radius: 0;
  border-style: none;
  width: 100%;
  }
}

.navbar li {
  a.highlight {
    color: $gold;
    &:hover {
      color: $light-gold;
    }
  }
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.form-control {
  border-width: $btn-border-width;
  height: auto;
}
.btn {
  border-radius: 2px;
  border-width: $btn-border-width;
}

.input-group-addon {
  border-width: $btn-border-width;
}

.term-list {
  list-style-type: none;
  padding: 0;
  font-size: 120%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    display: inline-block;
    margin-bottom: $padding-xs-horizontal;
  }
}

.td-thumbnail {
  min-width: 45px;
}
