<div class="product-search relative">
  <form class="form" action="/shop/search" method="get">
    <input
      type="search"
      name="query"
      class="form-control"
      placeholder="Search for products"
      aria-label="Search for products"
      v-model="query"
      autocomplete="off"
      @keyup="searchProducts"
    />
  </form>

  <div
    class="hits absolute left-0 right-0 bg-white shadow-md p-4 mt-4 z-50 sm:mx-0 -mx-12"
    v-show="query.length"
  >
    <div class="hit-summary flex justify-between">
      <p v-show="searching"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Searching ...</p>
      <p v-show="!searching">{{ numberOfHits }} results</p>
      <button
        type="button"
        class="text-xl"
        aria-label="Close"
        title="close"
        @click.prevent="query = ''"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <ul>
      <li v-for="hit in hits" :key="hit.id" class="product-search-result ">
        <a v-bind:href="hit.url" class="flex hover:bg-gray-200 p-2 trans">
          <div class="image-search-thumb w-12 md:w-20 flex-shrink-0 mr-2 md:mr-4">
            <img :src="hit.thumbnail" />
          </div>
          <div class="">
            <h4>{{ hit.name }}</h4>
            <p class="text-gray-500 text-xs">{{ hit.categories.join(', ') }}</p>
          </div>
        </a>
      </li>
    </ul>

    <div class="alogia-logo text-xs text-right mt-2 opacity-25">
      Powered by
      <a href="http://www.algolia.com/?utm_source=samarkand&utm_medium=link" target="_blank"
        ><img
          src="/img/Algolia_logo_bg-white.svg"
          alt="Powered by Algolia"
          class="w-12 h-auto inline"
      /></a>
    </div>
  </div>
</div>
