<div class="product-search">
  <form class="form" action="/shop/search" method="get">

    <div class="input-group">
      <input type="search"
      name="query"
      value="{{ query }}"
      class="form-control"
      placeholder="Search Products"
      v-model="query"
      autocomplete="off"
      @keyup="searchProducts | debounce 350"
      >
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
      </span>
    </div><!-- /input-group -->

  </form>

  <div class="hits" v-show="query.length">
    <div class="hit-summary">
      <p v-show="searching"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Searching ...</p>
      <p v-show="!searching">{{ numberOfHits }} results</p>
    </div>
    <button type="button" class="close clear-hits" aria-label="Close" @click.prevent="query = ''"><span aria-hidden="true">&times;</span></button>

    <div v-for="hit in hits" class="product-search-result" transition="fade">
      <a href="{{ hit.url }}">
        <div class="image-search-thumb">
          <img :src="hit.thumbnail" clas="img-responsive" alt="" />
        </div>
        <div class="">

          <h4>{{ hit.name }}</h4>

          <p class="text-muted">
            {{ hit.categories.join(', ')}}
          </p>

          <div class="clearfix"> </div>
        </div>
      </a>
    </div>
    <div class="alogia-logo">
      Powered by <a href="http://www.algolia.com/?utm_source=samarkand&utm_medium=link" target="_blank"><img src="/img/Algolia_logo_bg-white.svg" alt="Powered by Algolia" /></a>
    </div>
  </div>
</div>