// @import "bootstrap-sass/assets/stylesheets/bootstrap/variables";

$font-family-sans-serif: 'Muli', sans-serif;

$font-size-base: 15px;


// Colours

$or-melon:			desaturate(darken(#F55D2C, 15%), 18%); //dark orange
$footer-blue: 		#33495e; //dark blue
$light-blue: 		#ABDED6;
$bg-white:			#CAC5AC; // Light Brown
$an-white:			#989377; // Brown
$trq: 				#4D8580; // greeny turquoise

$color1: rgba(155, 196, 178, 1);
$color2: rgba(209, 143, 121, 1);
$color3: lighten(rgba(239, 180, 98, 1), 13%);
$color4: rgba(181, 106, 101, 1);
$color5: rgba(127, 127, 127, 1);

$gold: $color3; // #f0ad4e;
$light-gold: 		lighten($gold, 10%);

$brand1: $color2;
$brand2: $footer-blue;
$brand3: $light-blue;
$brand4: $bg-white;
$brand5: $an-white;

$brand-primary:         $color2; //#428bca;
$brand-success:         $color1; // #047d5e;   //#5cb85c;
$brand-info:            $color2;
$brand-warning:         $color3;
$brand-danger: 			$color4;   //#d9534f;

$gray-light:             $color5;
$gray-lighter: lighten($gray-light, 35%);
$gray-dark: #333;
$gray-accent: #70808E;

//## Social Colours

$fb-blue: #3b5998;
$tw-blue: #00aced;
$yt-red:  #bb0000;
$pi-red:  #cb2027;
$tb-turq: #32506d;
$sp-green:#7AB800;
$in-blue: #3f729b;
$hz-green: #55a32a;

$text-color:            $gray-dark;

$navbar-inverse-link-color: $gray-lighter;
$navbar-inverse-bg: $gray-accent;

// Alerts
$alert-text-color: $gray-light;

$alert-success-text: darken($brand-success, 35%);
$alert-success-bg: $brand-success;
$alert-success-border: $brand-success;

$alert-danger-text: #fff;
$alert-danger-bg: $brand-danger;
$alert-danger-border: $brand-danger;

$alert-success-text: darken($brand-success, 35%);
$alert-success-bg: $brand-success;
$alert-success-border: $brand-success;

$alert-warning-text: darken($brand-warning, 35%);
$alert-warning-bg: $brand-warning;
$alert-warning-border: $brand-warning;

$alert-info-text: darken($brand2, 35%);
$alert-info-bg: $brand2;
$alert-info-border: $brand2;

$state-success-text:             $alert-text-color;
$state-info-text:                $alert-text-color;
$state-warning-text:             $alert-text-color;
$state-danger-text:              $alert-text-color;

$state-success-border:               $brand-success;
$state-info-border:                  $brand-primary;
$state-warning-border:               $brand-warning;
$state-danger-border:                $brand-danger;

$state-success-text:               $brand-success;
//$state-info-text:                  $brand-primary;
//$state-warning-text:               $brand-warning;
$state-danger-text:                $brand-danger;

$border-radius-base: 2px;

// Buttons
$btn-border-width: 3px;
$btn-border: 3px solid transparent;

// Button colours
// $btn-default-border: $btn-default-bg;
$btn-primary-border: $brand-primary;
$btn-success-border: $brand-success;
$btn-danger-border: $brand-danger;

$btn-primary-color: darken($brand-primary, 35%);
$btn-success-color: darken($brand-success, 35%);

// $btn-default-border: lighten($gray-light, 35%);

//Forms
$input-border-focus: darken($gray-light, 10%);
$input-border: $gray-lighter;
$input-height-base: 38px;


// Breadcrumbs

//** Breadcrumb background color
$breadcrumb-bg:                 $gray-accent;
//** Breadcrumb text color
$breadcrumb-color:              $navbar-inverse-link-color;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:       #fff;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:          "/" !default;

$heading-scaling: 0.77;

$font-size-h1:            floor(($font-size-base * $heading-scaling * 2.6));
$font-size-h2:            floor(($font-size-base * $heading-scaling * 2.15));
$font-size-h3:            ceil(($font-size-base * $heading-scaling * 1.7));
$font-size-h4:            ceil(($font-size-base * $heading-scaling * 1.25));
$font-size-h5:            $font-size-base * $heading-scaling;
$font-size-h6:            ceil(($font-size-base * 0.85));